header {
    height: 100%;
    position: relative;
    top: -75px;
}
#hero1 {
  height: 69%;
  background-image: url(../images/atlanta-skyline-credit-pana-vasquez.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;

}
.info{
  width: 61%;
  margin:auto;
  padding-top: 150px;
}
.info button {
  background-repeat: no-repeat;
  background-position: 3px center;
  background-size: 40px 40px;
}
#hero2 {
  height: 31%;
  text-align: center;
}
#Featured {

  background-color: #F40503;
  background-image: url(../images/shattered-dark.png);
  background-size: auto;
  padding: 50px 0;
  text-align: center;
  margin-top: -100px;
  clip-path: polygon(0 15%, 100% 0, 100% 100%, 0 100%);
}